#commitment__section {
  margin: auto;
}

.commitment__section-flex {
  display: flex;
  flex-direction: row;
  margin-right: 10px;
}

.commitment__section-flex-2Boxes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.commitment__section-fulltime-contract {
  width: 680px;
  height: 178px;
  left: 561px;
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 4px;
}

.marginRight {
  margin-right: 20px;
}

.marginBottom {
  margin-bottom: 20px;
}
