#bottomBar {
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 1.5em;
  border: 1px solid #dadada;
}

@media only screen and (max-width: 675px) {
  #bottomBar {
    display: none;
  }
}
