/* Stamp component */

.interaction__box {
  position: relative;
}

.interaction__box-img {
  position: absolute;
  background-color: white;
  left: 42%;
  top: 0;
  height: 200px;
  mix-blend-mode: normal;
  transform: rotate(10deg);
  z-index: -1;
}

.interaction__box-title {
  padding-top: 105px;
  font-size: 30px;
  color: #685dc5;
}

/* page */

#interaction__section {
  box-sizing: border-box;
  height: 800px;
  z-index: -10;
  margin-left: 10%;
}

.interaction__main {
  position: absolute;
  width: 410px;
  top: 10%;
}

.interaction__box-positioning {
  max-width: 400px;
  min-width: 400px;
}

/* direction of rows */
.interaction__box-positioning-rows {
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 800px;
}

.interaction__box-positioning-rows-right-relative-right {
  margin: auto;
  width: 500px;
  height: 600px;
  position: relative;
}

.interaction__box-positioning-rows-right-relative-left {
  position: relative;
  top: 10%;
}
/* left positioning */

.interaction__box-positioning-rows-left {
  position: relative;
  overflow: hidden;
  bottom: 0;
  max-width: 410px;
  height: 130px;
  left: 0%;
  top: 35%;
}

.interaction__box-positioning-rows-left-h3 {
  font-size: 15px;
  font-weight: bold;
  color: black;
  margin-bottom: 4%;
}

.interaction__box-positioning-rows-left-p {
  font-size: 15px;
  font-weight: normal;
  color: #535353;
  margin-bottom: 4%;
}

.interaction__box-positioning-rows-left-event-wrapper {
  position: absolute;
  bottom: 26%;
  left: 0%;
}

.interaction__box-positioning-rows-left-event-wrapper-p {
  font-size: 15px;
  font-weight: normal;
  color: #535353;
  margin-bottom: 18%;
}

.interaction__box-positioning-rows-left-event-wrapper-button {
  background-color: #685dc5;
  font-weight: 500;
  border-radius: 29px;
  width: 150px;
  height: 55px;
  border: none;
}

.interaction__box-positioning-rows-left-event-wrapper-button-text {
  font-size: 13px;
  color: white;
  text-align: center;
}

/* right positioning */

.interaction__box-positioning-rows-right {
  position: absolute;
  right: 10%;
  top: 22%;
}

.zeptolab__container {
  position: relative;
  width: 450px;
  height: 620px;
}

.zeptolab__container-box {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 210px;
}

.zeptolab__container-logo {
  width: auto;
  height: 80px;
}

.zeptolab__container-powered {
  padding-top: 13px;
  margin-right: 3px;
  opacity: 0.5;
  font-size: 12px;
}

.zeptolab__container-powered-strong {
  margin-top: 9px;
  mix-blend-mode: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.zeptolab__container-shortBox {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
  height: 100%;
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 4px;
}

.zeptolab__container-shortBox-h3 {
  text-align: left;
  font-size: 15px;
  margin: 2% 2% 2% 4%;
  color: #685dc5;
}

.zeptolab__container-shortBox-p {
  font-size: 15px;
  text-align: left;
  margin: 2% 2% 2% 4%;
  color: #535353;
}

.zeptolab__container-tallBox {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
  padding-left: 0px;
  height: 100%;
  background: #ffffff;
  border: 1px solid #dadada;
  box-sizing: border-box;
  border-radius: 4px;
}

.zeptolab__container-tallBox-h3 {
  margin-bottom: 10%;
  text-align: left;
  font-size: 15px;
  color: #685dc5;
}

.zeptolab__container-tallBox-p {
  margin-bottom: 10%;
  text-align: left;
  font-size: 15px;
  color: #535353;
}

/* tablet */

@media only screen and (max-width: 675px) {
  /* Stamp component */

  .interaction__box {
    position: relative;
  }

  .interaction__box-img {
    position: absolute;
    background-color: white;
    left: 42%;
    top: 0;
    height: 200px;
    mix-blend-mode: normal;
    transform: rotate(10deg);
    z-index: -1;
  }

  .interaction__box-title {
    padding-top: 105px;
    font-size: 30px;
    color: #685dc5;
  }

  /* page */

  #interaction__section {
    box-sizing: border-box;
    height: 800px;
    z-index: -10;
  }

  .interaction__main {
    position: relative;
    width: 410px;
    top: 0%;
    left: 10%;
  }

  .interaction__box-positioning {
    max-width: 400px;
    min-width: 400px;
  }

  /* direction of rows */
  .interaction__box-positioning-rows {
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 800px;
    margin: auto;
  }

  /* left positioning */

  .interaction__box-positioning-rows-left {
    overflow: none;
    height: 340px;
  }

  .interaction__box-positioning-rows-left-h3 {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 4%;
  }

  .interaction__box-positioning-rows-left-p {
    font-size: 15px;
    font-weight: normal;
    color: #535353;
    margin-bottom: 4%;
  }

  .interaction__box-positioning-rows-left-event-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 100%;
    left: 0;
  }

  .interaction__box-positioning-rows-left-event-wrapper-p {
    font-size: 15px;
    font-weight: normal;
    color: #535353;
    margin-bottom: 18%;
  }

  .interaction__box-positioning-rows-left-event-wrapper-button {
    background-color: #685dc5;
    font-weight: 500;
    border-radius: 29px;
    width: 150px;
    height: 55px;
    border: none;
  }

  .interaction__box-positioning-rows-left-event-wrapper-button-text {
    font-size: 13px;
    color: white;
    text-align: center;
  }

  /* right positioning */

  .interaction__box-positioning-rows-right-relative-right {
    margin: auto;
    width: 500px;
    height: 600px;
    position: relative;
  }

  .interaction__box-positioning-rows-right-relative-left {
    margin: auto;
    width: 500px;
    height: 600px;
    position: relative;
  }

  .interaction__box-positioning-rows-right {
  }

  .zeptolab__container {
    position: relative;
    width: 450px;
    height: 620px;
    top: 30%;
  }

  .zeptolab__container-responsivePositioning {
    display: flex;
    flex-direction: row;
  }

  .zeptolab__container-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 210px;
  }

  .zeptolab__container-logo {
    width: auto;
    height: 80px;
  }

  .zeptolab__container-powered {
    padding-top: 13px;
    margin-right: 3px;
    opacity: 0.5;
    font-size: 12px;
  }

  .zeptolab__container-powered-strong {
    margin-top: 9px;
    mix-blend-mode: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .zeptolab__container-shortBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    height: 100%;
    background: #ffffff;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .zeptolab__container-shortBox-h3 {
    text-align: left;
    font-size: 15px;
    margin: 2% 2% 2% 4%;
    color: #685dc5;
  }

  .zeptolab__container-shortBox-p {
    font-size: 15px;
    text-align: left;
    margin: 2% 2% 2% 4%;
    color: #535353;
  }

  .zeptolab__container-tallBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
    padding-left: 0px;
    height: 100%;
    background: #ffffff;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .zeptolab__container-tallBox-h3 {
    margin-bottom: 10%;
    text-align: left;
    font-size: 15px;
    color: #685dc5;
  }

  .zeptolab__container-tallBox-p {
    margin-bottom: 10%;
    text-align: left;
    font-size: 15px;
    color: #535353;
  }
}

/* Mobile */

@media only screen and (max-width: 350px) {
  /* Stamp component */

  .interaction__box {
  }

  .interaction__box-img {
    position: absolute;
    background-color: white;
    left: 42%;
    top: 0;
    height: 200px;
    mix-blend-mode: normal;
    transform: rotate(10deg);
    z-index: -1;
  }

  .interaction__box-title {
    padding-top: 105px;
    font-size: 30px;
    color: #685dc5;
  }

  /* page */

  #interaction__section {
    box-sizing: border-box;
    height: 800px;
    z-index: -10;
    margin: auto;
  }

  .interaction__main {
    border: 1px solid black;
    position: relative;
    margin: auto;
    top: 0%;
    left: 0%;
  }

  .interaction__box-positioning {
    max-width: 205px;
    min-width: 205px;
  }

  /* direction of rows */
  .interaction__box-positioning-rows {
    border: 1px solid black;
    margin: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    height: 800px;
    margin: auto;
  }

  /* left positioning */

  .interaction__box-positioning-rows-left {
    border: 1px solid black;
    overflow: none;
    height: 205px;
  }

  .interaction__box-positioning-rows-left-h3 {
    font-size: 15px;
    font-weight: bold;
    color: black;
    margin-bottom: 4%;
  }

  .interaction__box-positioning-rows-left-p {
    font-size: 15px;
    font-weight: normal;
    color: #535353;
    margin-bottom: 4%;
  }

  .interaction__box-positioning-rows-left-event-wrapper {
    width: 100%;
    position: absolute;
    bottom: 0;
    top: 100%;
    left: 0;
  }

  .interaction__box-positioning-rows-left-event-wrapper-p {
    font-size: 15px;
    font-weight: normal;
    color: #535353;
    margin-bottom: 18%;
  }

  .interaction__box-positioning-rows-left-event-wrapper-button {
    background-color: #685dc5;
    font-weight: 500;
    border-radius: 29px;
    width: 150px;
    height: 55px;
    border: none;
  }

  .interaction__box-positioning-rows-left-event-wrapper-button-text {
    font-size: 13px;
    color: white;
    text-align: center;
  }

  /* right positioning */

  .interaction__box-positioning-rows-right-relative-right {
    margin: auto;
    width: 350px;
    height: 600px;
    position: relative;
  }

  .interaction__box-positioning-rows-right-relative-left {
    margin: auto;
    width: 350px;
    height: 600px;
    position: relative;
  }

  .interaction__box-positioning-rows-right {
  }

  .zeptolab__container {
    position: relative;
    width: 350px;
    height: 620px;
    top: 30%;
  }

  .zeptolab__container-responsivePositioning {
    display: flex;
    flex-direction: row;
  }

  .zeptolab__container-box {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    width: 210px;
  }

  .zeptolab__container-logo {
    width: auto;
    height: 80px;
  }

  .zeptolab__container-powered {
    padding-top: 13px;
    margin-right: 3px;
    opacity: 0.5;
    font-size: 12px;
  }

  .zeptolab__container-powered-strong {
    margin-top: 9px;
    mix-blend-mode: normal;
    font-weight: 300;
    font-size: 20px;
    line-height: 24px;
    mix-blend-mode: normal;
    opacity: 0.5;
  }

  .zeptolab__container-shortBox {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 200px;
    height: 100%;
    background: #ffffff;
    border: 1px solid #dadada;
    border-radius: 4px;
  }

  .zeptolab__container-shortBox-h3 {
    text-align: left;
    font-size: 15px;
    margin: 2% 2% 2% 4%;
    color: #685dc5;
  }

  .zeptolab__container-shortBox-p {
    font-size: 15px;
    text-align: left;
    margin: 2% 2% 2% 4%;
    color: #535353;
  }

  .zeptolab__container-tallBox {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 200px;
    padding: 30px;
    padding-left: 0px;
    height: 100%;
    background: #ffffff;
    border: 1px solid #dadada;
    box-sizing: border-box;
    border-radius: 4px;
  }

  .zeptolab__container-tallBox-h3 {
    margin-bottom: 10%;
    text-align: left;
    font-size: 15px;
    color: #685dc5;
  }

  .zeptolab__container-tallBox-p {
    margin-bottom: 10%;
    text-align: left;
    font-size: 15px;
    color: #535353;
  }
}
